-# coding: utf-8
!!! 5
%html
  %head
    %meta{charset: "utf-8"}

    %meta{content: "width=device-width", name: "viewport"}

    %title Redradix

    /[if lt IE 9]
      %script{src:"assets/javascripts/dependencies/html5shiv.js"}

    %link{href: "assets/stylesheets/screen.css", rel: 'stylesheet'}

  %body
    /HEADER
    %header.l-header 

    /MAIN
    %section
      .l-main

    /FOOTER
    %footer.l-footer

    /JQuery
    %script{src:"http://code.jquery.com/jquery-2.0.3.min.js"}

    /Bootstrap

    /If you are using Bootstrap, uncomment the line below
    %script{src:"js/bootstrap/bootstrap.min.js"}

    /Main
    %script{src:"js/script.js"}
    
