-# coding: utf-8
!!! 5
%html
  %head
    %meta{charset: "utf-8"}

    %meta{content: "width=device-width", name: "viewport"}

    %title Landing Page

    /[if lt IE 9]
      %script{src:"assets/javascripts/dependencies/html5shiv.js"}

    %link{href: "stylesheets/screen.css", rel: 'stylesheet'}

  %body
    /HEADER
    %header.l-header.l-beveled
      .container
        .row
          .col-lg-3
            %h1.logo
              %a{href:"index.html"} Landing Page
          .col-lg-9
            %ul.align-right.l-list-divided
              %li#contact-info
                %p
                  %small Questions?
                %p Call 1-800-0000
              %li
                %button{type:"button", class:"btn.btn-primary"} Buy Now
    /MAIN
    %section
      .t-main-banner.t-margin#main-banner
        .container
          .row
            .col-lg-5
              %img{src:"images/iphone.png", alt: "iphone", class:"l-featured-image"}/ 
            .col-lg-7
              %h1 Product Name
              %h3 This is a product tagline
              %button{type:"button", class:"btn"} Buy Now
              %button{type:"button", class:"btn"} Try it free

              %hr/

              %a{href:""}
                %img{src:"images/video-1.png", alt:"video"}/ 
              %a{href:""}
                %img{src:"images/video-2.png", alt:"video"}/ 


    /FOOTER
    %footer.l-footer

    /JQuery
    %script{src:"http://code.jquery.com/jquery-2.0.3.min.js"}

    /Bootstrap

    /If you are using Bootstrap, uncomment the line below
    %script{src:"js/bootstrap/bootstrap.min.js"}

    /Main
    %script{src:"js/script.js"}
    
