-# coding: utf-8
!!! 5
%html
  %head
    %meta{charset: "utf-8"}

    %meta{content: "width=device-width", name: "viewport"}

    %title Landing Page

    /[if lt IE 9]
      %script{src:"assets/javascripts/dependencies/html5shiv.js"}

    %link{href: "stylesheets/screen.css", rel: 'stylesheet'}

  %body

    /HEADER
    %header.l-header.t-beveled
      .container
        .row
          .col-lg-3
            %h1.logo
              %a{href:"index.html"} Landing Page
          .col-lg-9
            %ul.align-right.l-list-divided
              %li#contact-info
                %small Questions?
                %p Call 1-800-0000
              %li
                %button.btn.btn-primary{type:"button"} Buy Now

    /MAIN
    %section
      .t-main-banner.t-margin#main-banner
        .container
          .row
            .col-lg-5
              %img{src:"images/iphone.png", alt: "iphone", class:"l-featured-image"}/ 
            .col-lg-7
              %h1 Product Name
              %h3 This is a product tagline
              %button.btn.btn-secondary{type:"button"} Buy Now
              %button.btn{type:"button"} Try it free

              %hr/

              %a{href:""}
                %img{src:"images/video-1.png", alt:"video"}/ 
              %a{href:""}
                %img{src:"images/video-2.png", alt:"video"}/ 

    /TESTIMONIALS
    %section 
      .container.t-margin
        .row
          .col-lg-4
            %blockquote 
              %p lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, similique, eaque, at praesentium ut nostrum excepturi quisquam minima quam numquam vel doloremque ipsum tempore consequuntur delectus minus molestiae magni alias!
              %cite 
                Sara Moreno
                %a{href: "#"} Website Inc.
          .col-lg-4
            %blockquote 
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, aspernatur, omnis at quo modi laudantium eius eveniet ratione commodi non vero itaque repudiandae asperiores ea beatae culpa nobis dolorum ducimus.
              %cite Sara Moreno, creadora de este tema
          .col-lg-4
            %blockquote 
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, aspernatur, omnis at quo modi laudantium eius eveniet ratione commodi non vero itaque repudiandae asperiores ea beatae culpa nobis dolorum ducimus.
              %cite Sara Moreno, creadora de este tema

    %hr/ 

    //FEATURES

    %section
      .container.t-margin
        %header.text-center.t-margin
          %h2 For just 10$ you'll get an awesome product
          %h3 Here is some of its main features
        %ul.row.l-list-unstyled
          %li.col-lg-6
            .l-image-well.text-center
              %img{src:"images/icons/icon-1.png", alt: "feature"}/ 
            .l-text-well
              %strong Title of feature
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, perferendis, cumque, iusto, sit quae facere esse nostrum reiciendis sequi eaque hic rerum incidunt minus at saepe deleniti cupiditate? Libero, magnam.
          %li.col-lg-6
            .l-image-well.text-center
              %img{src:"images/icons/icon-2.png", alt: "feature"}/ 
            .l-text-well
              %strong Title of feature
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, perferendis, cumque, iusto, sit quae facere esse nostrum reiciendis sequi eaque hic rerum incidunt minus at saepe deleniti cupiditate? Libero, magnam.
        %ul.row.l-list-unstyled
          %li.col-lg-6
            .l-image-well.text-center
              %img{src:"images/icons/icon-3.png", alt: "feature"}/ 
            .l-text-well
              %strong Title of feature
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, perferendis, cumque, iusto, sit quae facere esse nostrum reiciendis sequi eaque hic rerum incidunt minus at saepe deleniti cupiditate? Libero, magnam.
          %li.col-lg-6
            .l-image-well.text-center
              %img{src:"images/icons/icon-4.png", alt: "feature"}/ 
            .l-text-well
              %strong Title of feature
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, perferendis, cumque, iusto, sit quae facere esse nostrum reiciendis sequi eaque hic rerum incidunt minus at saepe deleniti cupiditate? Libero, magnam.

    //CALL TO ACTION
    %section 
      .container.t-margin.t-callout.clearfix
        .row
          .col-lg-8
            %h2 Buy niw or try it free. It's super easy to start
            %h3 No credit card required for free trial
          .col-lg-4.text-right
            %button.btn.btn-primary{type:"button"} Buy Now
            %button.btn{type:"button"} Try it free

    %hr/ 

    /FOOTER
    %footer.l-footer.container.t-margin.text-center
      %ul.l-list-inline.t-margin
        %li 
          %a.social-icon{href:"#"} 
            %i.fa.fa-twitter
          %a.social-icon{href:"#"} 
            %i.fa.fa-facebook
          %a.social-icon{href:"#"} 
            %i.fa.fa-envelope
      %p &copy; Copyright 2014 Product Name


    /JQuery
    %script{src:"http://code.jquery.com/jquery-2.0.3.min.js"}

    /Bootstrap

    /If you are using Bootstrap, uncomment the line below
    %script{src:"js/bootstrap/bootstrap.min.js"}

    /Main
    %script{src:"js/script.js"}
    
