-# coding: utf-8
!!! 5
%html
  %head
    %meta{charset: "utf-8"}

    %meta{content: "width=device-width", name: "viewport"}

    %title Redradix

    /[if lt IE 9]
      %script{src:"assets/javascripts/dependencies/html5shiv.js"}

    %link{href: "assets/stylesheets/screen.css", rel: 'stylesheet'}

  %body